[submodule "Mocha\\Vendor\\spdlog"]
	path = Mocha\\Vendor\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Mocha/vendor/GLFW"]
	path = Mocha/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Mocha/Vendor/imgui"]
	path = Mocha/Vendor/imgui
	url = https://github.com/TheCherno/imgui
